## Week 3 Assignment

In [186]:
import pandas as pd
import requests

In [187]:
#Store content of Wikipedia page as string
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [188]:
#find table in the page-string and store the table separately
table = page[page.find('<table'):page.find('</table>')+len('</table>')]

In [189]:
#store table in HTML as pandas dataframe
df = pd.read_html(table)[0]

#set columns
columns = ['PostalCode', 'Borough', 'Neighborhood']
df.columns = columns

#drop rows with value 'Not assigned'
df = df[df.Borough != 'Not assigned']

#drop first row, which includes the tables headers of the HTML table
df=df.drop(df.index[0])
df.head()

  PostalCode           Borough      Neighborhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

In [190]:
#check,which Neighborhood values are not assigned
df[df.Neighborhood == 'Not assigned']

  PostalCode       Borough  Neighborhood
9        M7A  Queen's Park  Not assigned

In [191]:
#only Queen's Park --> Set value of Neighborhood to Queen's Park
df.at[9, "Neighborhood"] = "Queen's Park"

In [192]:
df = df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: x.sum() if x.dtype=='float64' else ', '.join(x))
df.head(25)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Rouge, Malvern
1         M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7         M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8         M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9         M1N  Scarborough                        Birch Cliff, Cliffside West
10        M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11        M1R  Scarborough                                  Maryvale, Wexford
12        M1S  Scarborough                                          Agincourt
13        M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14        M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15        M1W  Scarborough                      L'Amoreaux West, Steeles West
16        M1X  Scarborough                                        Upper Rouge
17        M2H   North York                                  Hillcrest Village
18        M2J   North York                       Fairview, Henry Farm, Oriole
19        M2K   North York                                    Bayview Village
20        M2L   North York                           Silver Hills, York Mills
21        M2M   North York                            Newtonbrook, Willowdale
22        M2N   North York                                   Willowdale South
23        M2P   North York                                    York Mills West
24        M2R   North York                                    Willowdale West