## Week 3 Assignment

In [130]:
import pandas as pd
import requests

In [131]:
#Store content of Wikipedia page as string
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [132]:
#find table in the page-string and store the table separately
table = page[page.find('<table'):page.find('</table>')+len('</table>')]

In [133]:
#store table in HTML as pandas dataframe
df = pd.read_html(table)[0]

#set columns
columns = ['PostalCode', 'Borough', 'Neighborhood']
df.columns = columns

#drop rows with value 'Not assigned'
df = df[df.Borough != 'Not assigned']

#drop first row, which includes the tables headers of the HTML table
df=df.drop(df.index[0])
df.head()

  PostalCode           Borough      Neighborhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

In [134]:
df = df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: x.sum() if x.dtype=='float64' else ', '.join(x))
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae